.textBox{
  margin-top:  1rem;
  padding: 8rem 8vw;
  color: #fff;
}

.hero{
  background:url(../images/bg.jpg) no-repeat;
  background-size: cover; 
  background-position: center center;
  z-index: 1;
  height: 100vh; 

  &:before {
    content: '';
    position: absolute; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; 
    background: $gradient;
    background-size: cover; 
    background-position: center center;
    height: inherit;
    opacity: .8; 
  }
}
 
  