*{
  margin: 0;
  font-family: 'Lato', serif; 
}

@mixin shadow{
  box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.1)!important;
}

//Sign in button
@mixin btn{
  background: white !important; 
  &:focus,
  &:hover {
    @include shadow;  
    background: white !important;
  } 
} 

@mixin font{
  font-size: 1 rem;
  color: $gray;
  font-weight: normal;
}

.normalFont{
  @include font;
}

.brand__name{
  font-family: 'Megrim';
  text-transform: capitalize; 
} 

// basic input tags
@mixin input{
  border:none; 
  line-height: 20px;
  font-size: 1rem;
	color: $dark-gray; 
	height: 28px;
  letter-spacing: 1px;
  outline-width: 0;
  padding: 0 20px; 
}

// Option buttons (rounded)
@mixin btn__round($color, $background){ 
  @include input;
  @include font;
  color: $color;
  background: $background;
  box-shadow: $shadow; 
  border-radius: 15px; 
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  width: fit-content;    
  cursor: pointer; 
}


