@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Megrim');

*{
  margin: 0;
}

body{
  font-family: 'Karla', sans-serif;
  
  overflow: hidden!important;
} 
 